@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navigation Buttons & Icons */
.nav-link {
    display: flex;
    justify-content: flex-start;
    margin: 0 .5rem;
    border-radius: 10px;
    transition: all .15s;
}

.nav-link:not(:last-child) {
    margin-bottom: .75rem;
}

.nav-link:last-child {
    margin-bottom: 1rem;
}

.nav-link:hover {
    background-color: #313131;
}

.nav-link svg {
    font-size: 1.5rem;
    transform: translate(0, 15%)
}